.app-container {
  display: flex;
  flex-direction: column;

}

app-header {
  width: 100%;
  z-index: 1000;
}

.content-container {
  display: flex;
  flex-grow: 1;
}

app-sidebar {
  z-index: 100;
}

.main-content {
  flex-grow: 1;
  padding: 2em;
  margin-left: 250px; /* Adjust based on the sidebar width */
  transition: margin-left 0.3s;
  overflow-y: hidden;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px; /* Adjust based on the collapsed sidebar width */
}
