<div class="app-container" [ngClass]="{'login-page': isLoginPage()}">
  <ng-container *ngIf="!isLoginPage()">
    <app-header></app-header>
  </ng-container>
  <div class="content-container" [ngClass]="{'no-nav': isLoginPage()}">
    <ng-container *ngIf="!isLoginPage()">
      <app-navigation></app-navigation>
    </ng-container>
    <!-- Main Content Area -->
    <div class="main-content" [ngStyle]="{'margin-left': isLoginPage() ? '0' : '250px'}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


